
<!--<form>-->
  <!--<input type="text" class="code-inline" size="40" autofocus id="edit">-->
  <!--<input type="text" style="display: none">&lt;!&ndash; エンターキー押したときにsubmitされないように &ndash;&gt;-->
<!--</form>-->

<div class="editor-root"></div>


<div contenteditable="false">
  hello
  <div contenteditable="true">
    world

  </div>
  <div contenteditable="true">
    world

  </div>
  <div contenteditable="true">
    ggg

  </div>
</div>